body {
  background: black;
}

#start {
  position: fixed;
  font-size: 2em;
  top: 90%;
  left: 50%;
  color: black;
  background-color: white;
  padding: 0px 10px;
  transform: translate(-50%, -50%);
}

#start:hover {
  cursor: pointer;
}

#start:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.picker {
  position: absolute;
  align: flex;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

.cit {
  position: absolute;
  top: 80%;
  left: 15%;
  width: 15%;
  transform: translate(-50%, -50%);
}

.thnb{
  position: absolute;
  top: 80%;
  left: 85%;
  width: 15%;
  transform: translate(-50%, -50%);
}

.ideh {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
}


#timer {
  position: absolute;
  align: flex;

  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#counter {
  font-size: 12vw;
  font-family: Consolas, monospace;
  color: white;
}

#description {
  font-size: 3vw;
  font-family: Consolas, monospace;
  color: white;
}
